.beneficios {
    display: flex;
    gap: 2.5vh;
    align-items: center;
    width: 340px;
    line-height: normal;
    max-width: 100%;
}

.beneficios i {
    font-size: 54px;
    color: #E75480;
}

.conteudo-texto {
    display: flex;
    flex-direction: column;
}

.beneficios .titulo {
    color: #3A3A3A;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.beneficios p {
    color: #3A3A3A;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 480px) {
    .beneficios {
        width: 100%;
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}