.cardBoneca {
    font-family: "montserrat";
    display: flex;
    flex-direction: column;
    padding: 25px;

    width: 388px;
    height: 539px;


    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: -2px 5px 15px #F05381;
    border: 1px solid #f053828a;

    text-align: center;
    line-height: normal;
    justify-content: center;
    gap: 15px;

    img {
      width: 150px;
      max-width: 300px;
      align-self: center;
      margin-bottom: 5px;
    }

    .valores {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    span {
        font-weight: 700;
    }

    button {
        margin-top: 25px;
        background-color: #F15281;
        border: none;
        padding: 15px;
        border-radius: 16px;
        font-family: "poppins";
        font-size: 16px;
        color: #FFF;
    }


    @media (max-width: 480px) {
    .cardBoneca {
        width: 100%;
        height: auto;
        min-height: 500px;
    }
}
}
