header {
    background: #E75480;
    width: 100%;
    height: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;


    i {
        font-size: 18px;
    }



}


.inputPesquisa {
    position: relative;
    max-width: 363px;
    width: 280px;
    height: 48px;


    i {
        position: absolute;
        right: 25px;
        top: 30%;

    }


    input {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 10px;
        outline: none;
        background-color: #ffffff3a;
        padding: 0px 25px;
    }


    input::placeholder {
        color: white;
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
    }


}


.itensLogin {
    display: flex;
    align-items: center;
    position: relative;
    gap: 25px;


    a {
        color: white;
        font-size: 18px;
    }


    .fa-solid.fa-user {
        position: absolute;
        left: -30px;
    }


}


nav {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;


    a {
        font-size: 24px;
        color: #E75480;
    }


}

