
    <header>

        <div class="inputPesquisa">
            <input type="text" placeholder="O que você procura?">
            <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
        </div>



        <img class="logo" src="assets/images/logo.svg" alt="logo">



        <div class="itensLogin">
            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
            <a routerLink="/cadastro">Cadastre-se</a>
            <a routerLink="/login" href="">Fazer login</a>


            <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>
        </div>

    </header>

    <nav>
        <a href="#inicio">Início</a>
        <a href="#sobre">Sobre</a>
        <a href="#lancamentos">Lançamentos</a>
        <a href="#bonecas">Bonecas</a>
    </nav>
