header {
    background: #E75480;
    width: 100%;
    height: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    box-sizing: border-box;
}

header i {
    font-size: 18px;
}

.inputPesquisa {
    position: relative;
    max-width: 363px;
    width: 280px;
    height: 48px;
}

.inputPesquisa i {
    position: absolute;
    right: 25px;
    top: 30%;
}

.inputPesquisa input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #ffffff3a;
    padding: 0px 25px;
    color: white;
    box-sizing: border-box;
}

.inputPesquisa input::placeholder {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.itensLogin {
    display: flex;
    align-items: center;
    position: relative;
    gap: 25px;
}

.itensLogin a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.itensLogin .fa-solid.fa-user {
    position: absolute;
    left: -30px;
}

nav {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 0 20px;
  
}

nav a {
    font-size: 24px;
    color: #E75480;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}


@media (max-width: 1024px) {
    header {
        padding: 0 50px;
    }
}

@media (max-width: 768px) {
    header {
        height: auto;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .inputPesquisa {
        width: 100%;
        max-width: none;
    }

    .itensLogin {
        width: 100%;
        justify-content: center;
    }

    nav {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }
}