 <footer>
    <div class="footer-container">
      <div class="footer-col">
        <img
          class="logo-footer"
          src="assets/images/logo.svg"
          alt="Logo Doll House"
        />
        <p>
          A sua loja favorita para encontrar as bonecas mais incríveis e
          exclusivas. Colecione sonhos!
        </p>
        <div class="redes-sociais">
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>

      <div class="footer-col">
        <h4>Institucional</h4>
        <ul>
          <li><a routerLink="/sobre">Quem somos</a></li>
          <li>
            <a routerLink="/politica-privacidade">Política de Privacidade</a>
          </li>
          <li><a routerLink="/trocas">Trocas e Devoluções</a></li>
          <li><a routerLink="/contato">Fale Conosco</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Pagamento</h4>
        <div class="pagamentos">
          <i class="fa-brands fa-cc-visa" title="Visa"></i>
          <i class="fa-brands fa-cc-mastercard" title="Mastercard"></i>
          <i class="fa-solid fa-barcode" title="Boleto"></i>
          <i class="fa-brands fa-pix" title="Pix"></i>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; 2025 Doll House. Todos os direitos reservados.</p>
      <p>
        Desenvolvido com
        <i class="fa-solid fa-heart" style="color: #ff007f"></i> por Débora.
      </p>
    </div>
  </footer>