footer {
    background-color: #FFF0F5; 
    padding: 60px 20px 20px;
    border-top: 4px solid #E75480;
    font-family: "Montserrat", sans-serif;
    margin-top: 80px; 
}

.footer-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.footer-col {
    flex: 1; 
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo-footer {
    width: 150px; 
}

.footer-col h4 {
    color: #E75480;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-col p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-col ul li a:hover {
    color: #E75480;
    padding-left: 5px; 
}

.redes-sociais, .pagamentos {
    display: flex;
    gap: 15px;
}

.redes-sociais i {
    font-size: 24px;
    color: #E75480;
    cursor: pointer;
    transition: transform 0.3s;
}

.redes-sociais i:hover {
    transform: translateY(-3px); 
}

.pagamentos i {
    font-size: 28px;
    color: #888;
}

.footer-bottom {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #ffc3d3;
    font-size: 12px;
    color: #777;
}
