<main>
   <app-header></app-header>

    <section class="titulo-pagina">
        <h1>Nossa Coleção Completa</h1>
        <p>Explore o mundo mágico e encontre sua próxima boneca favorita.</p>
        <div class="linhaRosa grande"></div>
    </section>

    <div class="conteudo-loja">

        <section class="grade-produtos">

            <div *ngIf="carregando" style="text-align: center; padding: 40px; color: #E75480;">
                <i class="fa-solid fa-spinner fa-spin fa-2x"></i>
                <p>Carregando bonecas...</p>
            </div>

            <div class="grid" *ngIf="!carregando">

         
                <bonecaCard *ngFor="let item of listaProdutos" [dados]="item"></bonecaCard>

                <div *ngIf="listaProdutos.length === 0" style="grid-column: 1/-1; text-align: center; color: #777;">
                    Nenhum produto encontrado.
                </div>
            </div>

    
        </section>
    </div>

 <app-footer-component></app-footer-component>
</main>
