
    <div class="doll-background">
        <div class="doll-box">
            <img src="/DollHouse.png" alt="">
            <div class="doll-content">
                <h1>Login</h1>
                <input type="text" placeholder="Nome de Usuário">
                <input type="password" placeholder="Senha">
                <button (click)="onBotaoClicado()">Entrar</button>
                <div class="doll-links">
                    <a href="">Criar conta</a>
                    <a href="">Esqueci a senha</a>
                </div>
            </div>
        </div>
    </div>

