.cadastro {
    font-family: poppins;
    background: #f5e6ff91;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;

}

.logo {
    text-align: center;
    font-size: 2.5rem;
    color: #ff69b4;
    margin-bottom: 25px;
    font-weight: bold;
}

.container {
    width: 1200px;  
    padding: 50px;
    background-color: #FADADD;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(243, 139, 139, 0.5);
    border: 3px solid #f7bbc4;
    margin: 0 auto;

}


.card {
    align-self: center;
    justify-self: center;
    width: 500px;
    background-color: #fac1c7;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(255, 192, 203, 0.4);
    margin-top: 0;
}

.card h2 {
    text-align: center;
    color: #E75480;
    margin-bottom: 25px;
    font-size: 1.8rem;
    font-weight: 600;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 0.9rem;
    color: #3a3a3a;
    font-weight: 500;
    margin-bottom: -5px;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group input {
    padding-right: 40px;
}

.input-group .icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #adadad;
    pointer-events: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #ffc0cb;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

input::placeholder {
    color: #c2c2c2;
}

input:focus {
    border-color: #f88fc4;
}


/* --- Endereço Layout (Manter) --- */
.address-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
}

.address-field-group {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.address-field-group label {
    font-size: 0.9rem;
    color: #3a3a3a;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1;
}

.address-field-group:not(:last-child)>label {
    width: calc(50% - 5px);
    text-align: left;
}

.input-row {
    display: flex;
    width: 100%;
    gap: 10px;
}

.address-field input {
    padding: 10px 15px;
}



.half-width {
    flex-basis: calc(50% - 5px);
}

.third-width {
    flex-basis: 35%;
}

.two-thirds-width {
    flex-basis: calc(65% - 5px);
}

.full-input-width {
    flex-basis: 100%;
}

/* --- Submit Button (Manter) --- */
.submit-button {
    width: 100%;
    background-color:#E75480;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.1s;
    box-shadow: 0 5px 10px rgba(255, 105, 180, 0.4);
}

.submit-button:hover {
    background-color: #fc3470;
}

.submit-button:active {
    transform: translateY(1px);
}