<div class="cadastro">

    

    <div class="container">
        <h1 class="logo"><img src="assets/images/logo.svg" alt=""></h1>
        <div class="card">
            <h2>Cadastro</h2>
            <form action="#" method="POST">

                <label for="nome">Nome Completo</label>
                <div class="input-group">
                    <input type="text" id="nome" name="nome" placeholder="Ex: Bárbara Silva">
                    <i class="fa-regular fa-user icon"></i>
                </div>

                <label for="email">E-mail</label>
                <div class="input-group">
                    <input type="email" id="email" name="email" placeholder="seu@gmail.com">
                    <i class="fa-regular fa-envelope icon"></i>                </div>

                <label for="telefone">Telefone</label>
                <div class="input-group">
                    <input type="tel" id="telefone" name="telefone" placeholder="(11)1413-3250">
                    <i class="fa-solid fa-phone icon"></i>
                </div>

                <label for="senha">Senha</label>
                <div class="input-group">
                    <input type="password" id="senha" name="senha" placeholder="Digite sua senha">
                    <i class="fa-solid fa-lock icon"></i>
                </div>

                <div class="address-group">

                    <div class="address-field-group full-width">
                        <label>CEP</label>
                        <label>Logradouro</label>
                        <div class="input-row">
                            <div class="address-field half-width">
                                <input type="text" id="cep" name="cep" placeholder="00000-000">
                            </div>
                            <div class="address-field half-width">
                                <input type="text" id="logradouro" name="logradouro" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="address-field-group full-width">
                        <label>Número</label>
                        <label>Complemento</label>
                        <div class="input-row">
                            <div class="address-field third-width">
                                <input type="text" id="numero" name="numero" placeholder="Número">
                            </div>
                            <div class="address-field two-thirds-width">
                                <input type="text" id="complemento" name="complemento" placeholder="Complemento">
                            </div>
                        </div>
                    </div>

                    <div class="address-field-group full-width">
                        <label>Bairro</label>
                        <label>Cidade</label>
                        <div class="input-row">
                            <div class="address-field half-width">
                                <input type="text" id="bairro" name="bairro" placeholder="Bairro">
                            </div>
                            <div class="address-field half-width">
                                <input type="text" id="cidade" name="cidade" placeholder="Cidade">
                            </div>
                        </div>
                    </div>

                    <div class="address-field-group full-width">
                        <label for="estado" class="full-label">Estado</label>
                        <div class="input-row">
                            <div class="address-field full-input-width">
                                <input type="text" id="estado" name="estado" placeholder="São Paulo">
                            </div>
                        </div>
                    </div>
                </div>

                <a routerLink="/login">

                    <button type="submit" class="submit-button">Entrar</button>
                </a>

            </form>
        </div>
    </div>
</div>