<div class="cadastro">
    <div class="container">
        <h1 class="logo"><img src="assets/images/logo.svg" alt="Logo Doll House"></h1>

        <div class="card">
            <h2>Cadastro</h2>

            <form [formGroup]="formulario" (ngSubmit)="cadastrar()">

                <label for="nome">Nome Completo</label>
                <div class="input-group">
                    <input type="text" id="nome" formControlName="nome" placeholder="Ex: Bárbara Silva">
                    <i class="fa-regular fa-user icon"></i>
                </div>
                <small *ngIf="formulario.get('nome')?.invalid && formulario.get('nome')?.touched" style="color: red; margin-bottom: 10px; display: block;">
                    Nome é obrigatório (mín. 3 letras).
                </small>

                <label for="email">E-mail</label>
                <div class="input-group">
                    <input type="email" id="email" formControlName="email" placeholder="seu@gmail.com">
                    <i class="fa-regular fa-envelope icon"></i>
                </div>
                <small *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched" style="color: red; margin-bottom: 10px; display: block;">
                    E-mail inválido.
                </small>

                <label for="telefone">Telefone</label>
                <div class="input-group">
                    <input type="tel" id="telefone" formControlName="telefone" placeholder="(11) 99999-9999">
                    <i class="fa-solid fa-phone icon"></i>
                </div>

                <label for="senha">Senha</label>
                <div class="input-group">
                    <input type="password" id="senha" formControlName="senha" placeholder="Crie uma senha forte">
                    <i class="fa-solid fa-lock icon"></i>
                </div>
                <small *ngIf="formulario.get('senha')?.invalid && formulario.get('senha')?.touched" style="color: red; margin-bottom: 10px; display: block;">
                    Senha deve ter no mínimo 6 caracteres.
                </small>

                <div class="address-group">

                    <div class="address-field-group full-width">
                        <label>CEP</label>
                        <label>Logradouro</label>
                        <div class="input-row">
                            <div class="address-field half-width">
                                <input type="text" id="cep" formControlName="cep" (blur)="buscarCep()" placeholder="00000-000" maxlength="9">
                            </div>
                            <div class="address-field half-width">
                                <input type="text" id="logradouro" formControlName="logradouro" placeholder="Rua..."  readonly>
                            </div>
                        </div>
                    </div>

                    <div class="address-field-group full-width">
                        <label>Número</label>
                        <label>Complemento</label>
                        <div class="input-row">
                            <div class="address-field third-width">
                                <input type="text" id="numero" formControlName="numero" placeholder="Nº">
                            </div>
                            <div class="address-field two-thirds-width">
                                <input type="text" id="complemento" formControlName="complemento" placeholder="Apto, Bloco...">
                            </div>
                        </div>
                    </div>

                    <div class="address-field-group full-width">
                        <label>Bairro</label>
                        <label>Cidade</label>
                        <div class="input-row">
                            <div class="address-field half-width">
                                <input type="text" id="bairro" formControlName="bairro" placeholder="Bairro" readonly>
                            </div>
                            <div class="address-field half-width">
                                <input type="text" id="cidade" formControlName="cidade" placeholder="Cidade" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="address-field-group full-width">
                        <label for="estado" class="full-label">Estado</label>
                        <div class="input-row">
                            <div class="address-field full-input-width">
                                <input type="text" id="estado" formControlName="estado" placeholder="UF" readonly>
                            </div>
                        </div>
                    </div>
                </div>


                <button type="submit" class="submit-button" [disabled]="formulario.invalid" [style.opacity]="formulario.invalid ? 0.5 : 1">
                    Finalizar Cadastro
                </button>


                <p style="text-align: center; margin-top: 15px; color: #666;">
                    Já tem uma conta? <a routerLink="/login" style="color: #E75480; text-decoration: none; font-weight: bold;">Fazer Login</a>
                </p>

            </form>
        </div>
    </div>
</div>
