.cardDepoimento {
    
    .circulo {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background-color: #FADADD; /* Cor de fundo caso a imagem falhe ao carregar */
        position: absolute;
        top: -10%;
        right: 33%;
        
        /* NOVO: Esconde o que estiver fora do círculo (corta o excesso da imagem) */
        overflow: hidden; 

        .avatar-img {
            /* Garante que a imagem preencha o círculo */
            width: 100%;
            height: 100%;
            /* MANTÉM A PROPORÇÃO da imagem e preenche o elemento, cortando o que for necessário */
            object-fit: cover; 
            /* Para alguns projetos, pode ser útil: */
            display: block; 
        }
    }

    background-color: #E75480;
    width: 217px;
    height: 288px;
    border-radius: 16px;
    

    
    /* ADICIONE UM PADDING SUPERIOR para o texto não ficar atrás do círculo */
    padding: 25px; 
    
    position: relative;
    
    p {
        max-height: 180px;
        overflow: hidden;
        margin-top: 20%;
        text-align: center;
    }
}
