   <aside class="sidebar">
            <div class="logo img"> <img src="assets/images/logo.svg"></div>
            <nav>
                <ul>
                    <li><a routerLink="/" class="nav-link">Home</a></li>
                    <li><a routerLink="/areaAdm" class="nav-link">Início</a></li>
                    <li><a routerLink="/gerenciamentoEstoque" class="nav-link active">Bonecas</a></li>
                    <li><a routerLink="/areaAdm" class="nav-link">Pedidos</a></li>
                </ul>
            </nav>
        </aside>