<aside class="sidebar">
    <div class="logo">
        <img src="assets/images/logo.svg" alt="Logo Doll House">
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/areaAdm" class="nav-link" routerLinkActive="active">Início</a>
            </li>
            <li>
                <a routerLink="/gerenciamentoEstoque" class="nav-link" routerLinkActive="active">Bonecas</a>
            </li>
      
        </ul>
    </nav>
</aside>