<div><marquee>CUPOM: NOVO10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  Frete Grátis a Partir de R$200,00 </marquee></div>
<div class="header">
  <div>
      <input type="text" placeholder="Buscar produtos" class="input"> 
    </div>
    
</div>
<div>
  <div class="container-produto">
  <div class="produto-flex">
    <img src="assets/barbie1.jpg" alt="Produto" width="400" height="400">
    <div class="produto-detalhes">
      <div class="info-flex">
        <h2><b>{{nomeProduto}}</b></h2>
      </div>
      <div class="precoH2">
        <h2>R$ 255,00</h2>
      </div>
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M22 12c0-3.771 0-5.657-1.172-6.828S17.771 4 14 4h-4C6.229 4 4.343 4 3.172 5.172S2 8.229 2 12s0 5.657 1.172 6.828S6.229 20 10 20h4c3.771 0 5.657 0 6.828-1.172c.654-.653.943-1.528 1.07-2.828M10 16H6m8 0h-1.5M2 10h5m15 0H11"/></svg>
        <p><strong> &nbsp;&nbsp;3 x de R$85,00 sem juros</strong></p>
      </div>
      <div class="input-btn-row" style="margin-bottom: 16px;">
        <input type="number" class="input" style="width: 3rem;">
        <button class="btn">Comprar</button>
      </div>
      <div class="frete">
      <div class="freteContent">
        <p><strong>CALCULE O FRETE</strong></p>
        <div>
          <input type="text" placeholder="Digite seu CEP" class="input" style="width: 18rem;">
          <button class="btn">Calcular</button>
        </div>
        <a href="https://buscacepinter.correios.com.br/app/endereco/index.php">Não sei meu CEP</a>
      </div>
    </div>
    </div>
  </div>
    
  </div>
</div>
   