main {
    font-family: "Poppins", sans-serif;
    background: #f5e6ff91;
    width: 100%;
    color: #3A3A3A;
    overflow-x: hidden;
}

header {
    background: #E75480;
    width: 100%;
    height: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

header i {
    font-size: 18px;
}

.inputPesquisa {
    position: relative;
    max-width: 363px;
    width: 280px;
    height: 48px;
}

.inputPesquisa i {
    position: absolute;
    right: 25px;
    top: 30%;
}

.inputPesquisa input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #ffffff3a;
    padding: 0px 25px;
    color: white;
}

.inputPesquisa input::placeholder {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

.itensLogin {
    display: flex;
    align-items: center;
    position: relative;
    gap: 25px;
}

.itensLogin a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.itensLogin .fa-solid.fa-user {
    position: absolute;
    left: -30px;
}

nav {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

nav a {
    font-size: 24px;
    color: #E75480;
    text-decoration: none;
}

.banner {
    background-image: url('/assets/images/background.svg');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.banner h1 {
    width: 693px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #E75480 0%, #CCACE0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner p {
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}

.beneficios {
    display: flex;
    margin: 0px 100px;
    justify-content: space-around;
}

.bonecas,
.lancamentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.bonecas .cardBonecas,
.lancamentos .cardBonecas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    padding: 10px 100px;
    flex-wrap: wrap;
    gap: 20px;
}

.bonecas h2,
.lancamentos h2 {
    text-align: center;
    color: #E75480;
    font-size: 36px;
    text-decoration: underline;
}

.bonecas botaoDegrade,
.lancamentos botaoDegrade {
    align-self: center;
}

.linhaRosa {
    align-self: center;
    background-color: #FFC3D3;
    border-radius: 10px;
    width: 100px;
    height: 4px;
}

.grande {
    width: 192px;
    height: 23px;
}

.novidades {
    height: 130px;
    background-color: #FADADD;
    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
    align-items: center;
    font-family: "montserrat";
}

.novidades input {
    height: 48px;
    width: 336px;
    border: none;
    border-radius: 16px;
    padding: 15px;
}

.novidades .inputs {
    display: flex;
    align-items: center;
    gap: 100px;
}

.novidades .inputComTexto {
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lancamentosFuturos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.lancamentosFuturos img {
    border-radius: 16px;
    max-width: 100%;
}

.sobre {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    align-items: center;
    padding-right: 20px;
}

.sobre .textoSobre {
    width: 619px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.sobre .linhaRosa {
    align-self: start;
}

.sobre p {
    font-family: "montserrat";
    font-size: 20px;
    text-align: justify;
}

.sobreposicaoImagem img {
    max-width: 100%;
    height: auto;
}

h3 {
    text-decoration: underline;
    font-size: 64px;
    color: #E75480
}

.cuidados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuidados .dicas {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 100px;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.depoimentos {
    display: flex;
    flex-direction: column;
}

.depoimentos h2 {
    text-align: center;
    color: #E75480;
    font-size: 36px;
    text-decoration: underline;
}

.depoimentos .cards {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

section {
    margin: 80px 0px;
}


@media (max-width: 1024px) {


    .banner h1 {
        font-size: 40px;
        width: 80%;
    }

    .novidades {
        padding: 15px 50px;
    }
    
    .novidades .inputs {
        gap: 40px;
    }
}

@media (max-width: 768px) {
 

    .inputPesquisa {
        width: 100%;
    }

    .itensLogin {
        width: 100%;
        justify-content: center;
    }

    nav {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .banner {
        height: auto;
        padding: 60px 20px;
        background-size: cover;
    }

    .banner h1 {
        width: 100%;
        font-size: 32px;
    }

    .beneficios {
        margin: 0 20px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .bonecas .cardBonecas,
    .lancamentos .cardBonecas {
        padding: 0 20px;
        justify-content: center;
    }

    .novidades {
        height: auto;
        flex-direction: column;
        padding: 30px 20px;
        gap: 20px;
    }

    .novidades img {
        width: 100px;
    }

    .novidades .inputs {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .novidades .inputComTexto, 
    .novidades input {
        width: 100%;
    }

    .lancamentosFuturos {
        padding: 0 20px;
    }

    .sobre {
        flex-direction: column-reverse;
        margin-left: 0;
        padding: 20px;
    }

    .sobre .textoSobre {
        width: 100%;
    }
    
    .sobre h3 {
        font-size: 36px;
        text-align: center;
    }

    .sobre .linhaRosa {
        align-self: center;
    }

    .cuidados h3 {
        font-size: 36px;
    }
    
    .cuidados .dicas {
        margin: 30px 20px;
    }

    section {
        margin: 40px 0;
    }
}