main {
    font-family: "Poppins", sans-serif;
    background: #f5e6ff91;
    width: 100%;
    color: #3A3A3A;
}



header {
    background: #E75480;
    width: 100%;
    height: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;


    i {
        font-size: 18px;
    }



}


.inputPesquisa {
    position: relative;
    max-width: 363px;
    width: 280px;
    height: 48px;


    i {
        position: absolute;
        right: 25px;
        top: 30%;

    }


    input {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 10px;
        outline: none;
        background-color: #ffffff3a;
        padding: 0px 25px;
    }


    input::placeholder {
        color: white;
        font-size: 16px;
        font-weight: 400;
        text-align: justify;
    }


}


.itensLogin {
    display: flex;
    align-items: center;
    position: relative;
    gap: 25px;


    a {
        color: white;
        font-size: 18px;
    }


    .fa-solid.fa-user {
        position: absolute;
        left: -30px;
    }


}


nav {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;


    a {
        font-size: 24px;
        color: #E75480;
    }


}


.banner {
    /* margin-top: 25px; */
    background-image: url('/assets/images/background.svg');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    gap: 20px;

    h1 {
        width: 693px;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(90deg, #E75480 0%, #CCACE0 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        text-align: center;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 400;
    }

}


.beneficios {
    display: flex;
    margin: 0px 100px;
    justify-content: space-around;

}

.bonecas,
.lancamentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .cardBonecas {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        padding: 10px 100px;

    }


    h2 {
        text-align: center;
        color: #E75480;
        font-size: 36px;
        text-decoration: underline;
    }

    botaoDegrade {
        align-self: center;
    }
}

.linhaRosa {
    align-self: center;
    background-color: #FFC3D3;
    border-radius: 10px;
    width: 100px;
    height: 4px;
}

.grande {
    width: 192px;
    height: 23px;
}

.novidades {
    height: 130px;
    background-color: #FADADD;

    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
    /* margin: 25px 0px; */
    align-items: center;

    font-family: "montserrat";


    input {
        height: 48px;
        width: 336px;
        border: none;
        border-radius: 16px;
        padding: 15px;

    }

    .inputs {
        display: flex;
        align-items: center;
        gap: 100px;
    }

    .inputComTexto {
        gap: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 25px;

    }
}

.lancamentosFuturos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin: 30px; */

    img {
        border-radius: 16px;
    }


}

.sobre {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    align-items: center;


    .textoSobre {
        width: 619px;
        display: flex;
        flex-direction: column;
        gap: 18px;

    }

    .linhaRosa {
        align-self: start;
    }

    p {
        font-family: "montserrat";
        font-size: 20px;
    }

}


h3 {
    text-decoration: underline;
    font-size: 64px;
    color: #E75480
}

.cuidados {
    display: flex;
    flex-direction: column;
    align-items: center;

    .dicas {
        display: flex;
        flex-wrap: wrap;
        margin: 50px 100px;
        gap: 25px;
        align-items: center;
        justify-content: center;
    }

    /* margin-top: 55px; */
}

.depoimentos {
    display: flex;
    flex-direction: column;


    

    h2 {
        text-align: center;
        color: #E75480;
        font-size: 36px;
        text-decoration: underline;
    }


    .cards {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }

}

section {
    margin: 80px 0px;
    ;
}

/* --- ESTILO DO RODAPÉ (FOOTER) --- */
footer {
    background-color: #FFF0F5; /* Um rosa bem clarinho (LavenderBlush) */
    padding: 60px 20px 20px;
    border-top: 4px solid #E75480;
    font-family: "Montserrat", sans-serif;
    margin-top: 80px; /* Espaço para separar do conteúdo principal */
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Espalha as colunas */
    flex-wrap: wrap; /* Permite quebrar linha em telas menores */
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.footer-col {
    flex: 1; /* Cada coluna tenta ocupar o mesmo espaço */
    min-width: 250px; /* Tamanho mínimo antes de quebrar linha */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.logo-footer {
    width: 150px; /* Ajuste conforme o tamanho da sua logo */
}

.footer-col h4 {
    color: #E75480;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer-col p {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-col ul li a:hover {
    color: #E75480;
    padding-left: 5px; /* Efeitinho de deslizar ao passar o mouse */
}

.redes-sociais, .pagamentos {
    display: flex;
    gap: 15px;
}

.redes-sociais i {
    font-size: 24px;
    color: #E75480;
    cursor: pointer;
    transition: transform 0.3s;
}

.redes-sociais i:hover {
    transform: translateY(-3px); /* Pula para cima ao passar o mouse */
}

.pagamentos i {
    font-size: 28px;
    color: #888;
}

.footer-bottom {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #ffc3d3;
    font-size: 12px;
    color: #777;
}

