<main>
  <app-header></app-header>

  <section id="inicio">
    <section class="banner">
      <h1>Bem-Vindo(a) ao Mundo Barbie</h1>
      <p>Sua boneca dos sonhos você encontra aqui</p>
      <botaoDegrade></botaoDegrade>
    </section>
  </section>

  <section class="beneficios">
    <beneficio></beneficio>
    <beneficio
      classeIcone="fa-solid fa-percent"
      titulo="Cupom"
      subTitulo="Use “DOLLSY” na primeira compra e ganhe 10% de desconto"
    ></beneficio>
    <beneficio
      classeIcone="fa-brands fa-instagram"
      titulo="Atendimento"
      subTitulo="Em caso de dúvidas, entre em
contato via Instagram."
    ></beneficio>
    <beneficio
      classeIcone="fa-solid fa-rotate"
      titulo="Trocas e devoluções"
      subTitulo="Para trocas e devoluções entre em contato via e-mail!"
    ></beneficio>
  </section>

  <section id="bonecas">
    <section class="bonecas">
      <h2>As Mais Vendidas!</h2>
      <div class="linhaRosa"></div>

      <div class="cardBonecas">
        <bonecaCard *ngFor="let item of listaMaisVendidas" [dados]="item"></bonecaCard>

        <p *ngIf="listaMaisVendidas.length === 0" style="text-align:center; width:100%">Carregando destaques...</p>
      </div>
    </section>
  </section>


  <section id="lancamentos">
    <section class="lancamentos">
      <h2>Lançamentos</h2>
      <div class="linhaRosa"></div>

      <div class="cardBonecas">
        <bonecaCard *ngFor="let item of listaLancamentos" [dados]="item"></bonecaCard>
      </div>

      <botaoDegrade
        textoBotao="Ver Todos os Produtos"
        routerLink="todosOsProdutos"
      ></botaoDegrade>
    </section>
  </section>

  <section class="lancamentosFuturos">
    <img src="assets/images/bannerPt1.svg" alt="" />
    <img src="assets/images/bannerPt2.svg" alt="" />
  </section>

  <section class="novidades">
    <img src="assets/images/logo.svg" alt="" />
    <div class="inputs">
      <div class="inputComTexto">
        <span>Receba nossas novidades!</span>
        <input type="text" placeholder="Nome Completo" />
      </div>
      <input type="email" placeholder="E-mail" />
      <botaoDegrade tamanho="pequeno" textoBotao="Ok"></botaoDegrade>
    </div>
  </section>

  <section id="sobre">
    <section class="sobre">
      <div class="textoSobre">
        <h3>Doll House: entre e sinta-se em casa</h3>
        <div class="linhaRosa grande"></div>

        <p>
          A Dollhouse é o lugar onde a imaginação nunca cresce demais! Aqui,
          cada boneca é uma nova história, cada acessório é uma dose de magia, e
          cada coleção é um pedacinho do seu mundo encantado. Criamos um espaço
          para quem ama brincar, sonhar e colecionar. Entre novidades, edições
          limitadas e acessórios fofíssimos, a Dollhouse é a sua casinha dos
          sonhos — feita para amar, colecionar e exibir com muito estilo e
          diversão.
        </p>
        <botaoDegrade textoBotao="VER PRODUTOS"></botaoDegrade>
      </div>

      <div class="sobreposicaoImagem">
        <img src="assets/images/barbieCasa.svg" alt="" />
      </div>
    </section>
  </section>

  <section class="cuidados">
    <h3>Como cuidar?</h3>
    <div class="linhaRosa grande"></div>
    <div class="dicas">
      <dica></dica>
      <dica></dica>
      <dica></dica>
      <dica></dica>
      <dica></dica>
      <dica></dica>
    </div>
  </section>

  <section class="depoimentos">
    <h2>Depoimentos</h2>

    <div class="linhaRosa"></div>
    <div class="cards">
      <app-card-depoimento></app-card-depoimento>
      <app-card-depoimento></app-card-depoimento>
      <app-card-depoimento></app-card-depoimento>
      <app-card-depoimento></app-card-depoimento>
      <app-card-depoimento></app-card-depoimento>
    </div>
  </section>

  <app-footer-component></app-footer-component>
</main>
